

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Parking Vision</a>
  <div>
    <div class="navbar-nav">
<!--       <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link disabled" href="#">about</a>
      <a class="nav-item nav-link disabled" href="#">Profile</a> -->
      <div id="my-login-button-target"></div>
      <a href="http://localhost:5000">Edit Profile</a> 
    </div>
  </div>
  <!-- <div class="my-bitmoji-stickerpicker-icon-target" >Sticks</div> -->
</nav>


  <main>
    <router-outlet></router-outlet>
    
  </main>