<br>
<div style="margin:5px" >
<h1>Plate Database:</h1>
<form (ngSubmit)="onSubmit(location)" name="getLocation" autocomplete="off">

  <label id="location">Location:
  <input id="location" autocomplete="off" name="location" [(ngModel)]="location"/>
  </label> 

  <input type="submit"/>
  
</form>
</div>
<div *ngFor="let plate of platedata.platesDetected" 
      [ngClass]="{'alert-danger' : plate.violate}" 
      class="card"
      style="margin: 10px;">
  <h3 class="card-header">{{plate.plate}}</h3>
  <div class="card-body">
    <p>Starting timestamp: {{plate.date}}</p>
    <p>Violation: {{plate.violate}}</p>
    <p>messageSent: {{plate.messageSent}}</p>
    <a routerLink="/platesearch/{{plate.plate}}">Plate Search</a>
  </div>
</div>